
# Created by https://www.gitignore.io/api/c++,windows
# Edit at https://www.gitignore.io/?templates=c++,windows

### C++ ###
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

### Windows ###
# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

# End of https://www.gitignore.io/api/c++,windows
Algorism_Study/.vs/
Algorism_Study/Debug/
Algorism_Study/Step001/Question01/Debug/
Algorism_Study/Step001/Question02/Debug/
Algorism_Study/Step1_02/Debug/
Algorism_Study/Step1_01/Debug/
Algorism_Study/Algorism_Study/Debug/
Algorism_Study/Step002/Question02_01/Debug/
Algorism_Study/Step002/Question02_02/Debug/
Algorism_Study/Step003/Question03_01/Debug/
Algorism_Study/Step003/Question03_02/Debug/
Algorism_Study/Step004/Question04_01/Debug/
Algorism_Study/Step004/Question04_02/Debug/
